{% extends "layout.html"%} {% block content%}

<h1>Doubt solved</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert" id="flashMessage"
     style="display:none">
    <span>{{ message }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" onclick=delete_flash(this)>&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<br>
<b>
    Id. {{q.id}}
    <br> Question : {{q.question}}
</b>
<hr>
<br>

Amount promised to pay : {{q.pay}}
<br><br>
<form action="/payment">

    <span style="font-size:15px">Since, your doubt is solved, please make the payment to the respective person</span>
    <div class="form-group">

        Enter username <input type="text" name="doubt" class="form-control" placeholder="username of the mentor"
                              width="10">
        Enter amount <input type="number" name="amount" class="form-control" placeholder="Amount">

    </div>

    <button type="submit" class="btn btn-dark text-center">Submit</button>

</form>
<br>


{% endblock%}