<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>p2p</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/layout.css">
</head>
<body>
<div class="container-fluid home-main">
    <h2>p2p <span class="blinker">platform</span></h2>
    <button type="button" class="btn btn-default"> <a class="nav-link" href="/login">Login</a> </button>
	  <button type="button" class="btn btn-default"><a class="nav-link" href="/register">Register</a> </button>
</div>
<div class="container-fluid home-content1">
    <div class="row">
        <div class="col-md-6 content1-left">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, velit? <span class="blinker">?</span></h3>
            <p>Build responsive, mobile-first projects on the web with the world’s most popular front-end component
                library.</p>
            <!-- <div class="content1-left"></div> -->
        </div>
        <div class="col-md-6 content1-right">
            <p>Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas
                or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt
                components, and powerful plugins built on jQuery.</p>
        </div>
    </div>
</div>
-
</body>
</html>