{% extends "layout.html"%}
{% block content%}

<h1>My Questions</h1>


<div class="col-6">
    <table class="table table-striped table-hover">
        <thead>
        <th scope="col">Sno</th>
        <th scope="col">Question</th>
        <th scope="col"> Amount</th>

        </thead>
        <tbody>
        <tr>
            {% for i in myQuestion %}


            <td scope="row">{{ i.question }}</td>
            <td> {{i.description }}</td>
            <td> {{i.pay }}</td>
            <td>
                <button type="submit" class="btn btn-light btn-sm" value="{{ i.id }}">
                    <a href="{{ url_for('DoubtSolved', id=i.id) }}"> Doubt is solved </a>
                </button>

                <button type="submit" class="btn btn-danger btn-sm" value="{{ i.id }}">
                    <a href="{{ url_for('DoubtSolved', id=i.id) }}">x</a>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}